.content__label {
  margin-right: 83%;
}

.content__input {
  width: 32%;
  height: 46px;
  padding-left: 10px;
  margin-right: 1%;
}

.content__btn {
  background-color: rgba(225, 229, 233, 1);
  color: rgba(118, 121, 138, 1);
  border: none;
  cursor: pointer;
  width: 11%;
  height: 46px;
}
