.page-body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 400;
  color: rgba(118, 121, 138, 1);
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 292px 1fr;
}
