.password__unit {
  display: flex;
  justify-content: space-between;
  padding-right: 19%;
  margin-bottom: 40px;
}

.password__part {
  width: 50%;
}

.password__input {
  width: 86%;
  height: 46px;
  margin-top: 10px;
  padding-left: 20px;
}
