.skill__unit {
  display: flex;
  justify-content: space-between;
  padding-right: 19%;
  flex-wrap: wrap;
}

.skill__part {
  width: 50%;
  margin-bottom: 20px;
}

.skill__input {
  width: 86%;
  height: 46px;
  margin-top: 10px;
  padding-left: 20px;
}
