/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/python/FilterCENTR/data/model/
!/python/FilterCENTR/data/model/README.MD
/python/Filter3DM/mirr/
!/python/Filter3DM/mirr/.gitkeep
